body{
  background-color: rgb(64, 155, 211);;
}
.bg-image {
  /* The image used */
  /* background-image: url("../../../assets/pension_home.jpg"); */
/* background-color: rgb(64, 155, 211);; */
  /* Add the blur effect */
  /* filter: blur(20px); */
  /* -webkit-filter: blur(20px); */

  /* Full height */
  height: 80%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
